.about-section {
  padding: 2rem 3rem 5rem 3rem;
}

.about-section .wrapper {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.about-section-left p {
  font-size: 1.2rem;
  margin: 1.2rem 0;
}

.about-section-right img {
  transition: all 0.3s ease;
  border-radius: 12px;
}

.about-section-right img:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-section h1 {
  text-align: center;
}

.about-section h2 {
  margin-bottom: 1.1rem;
}

.about-section ul {
  list-style: disc;
  margin-left: 1.2rem;
}

.about-section ul li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

@media (width < 768px) {
  .about-section {
    padding: 1.5rem 1.2rem 3rem 1.2rem;
  }

  .about-section .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .about-section-left p,
  .about-section ul li {
    text-align: justify;
  }

  .about-section h1,
  .about-section h2 {
    text-align: center;
  }

  .about-section-right img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}
