* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #fffbfc;
}

.info-section {
  padding: 3.5rem 3rem;
  text-align: center;
  background-color: #f9f9f9;
}

.slogan {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.site-description {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.site-startButton {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  width: 270px;
  margin: 0 auto;
  text-decoration: none;
}

.site-startButton .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.site-startButton:hover .icon {
  width: calc(100% - 0.6em);
}

.site-startButton .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.site-startButton:hover .icon svg {
  transform: translateX(0.1em);
}

.site-startButton:active .icon {
  transform: scale(0.95);
}

@media (width < 768px) {
  .info-section {
    padding: 1.5rem;
  }
}
